{
  "items": {
    {
        "id": "1",
        "jobId": "job_1"
        "name": "first log item"
    },
    {
         "id": "2",
         "jobId": "job_1"
         "name": "second log item"
    },
    {
         "id": "3",
         "jobId": "job_2"
         "name": "third log item"
    }
  }
}
