{
  "id": "67dfac11-1caf-4470-9ad1-d533f6360bdd",
  "snapshotId": "11dfac11-1caf-4470-9ad1-d533f6360bdd",
  "matchedProfileId": "c9db56f4-e1d4-11e8-9f32-f2801f1b9fd1",
  "matchedId": "c9db5b04-e1d4-11e8-9f32-f2801f1b9fd1",
  "generation": "1",
  "recordType": "MARC",
  "sourceRecord": {
    "id": "2f390fa6-a2f8-4027-abaf-ee61952668bc",
    "source": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  },
  "parsedRecord": {
    "id": "c9db5d7a-e1d4-11e8-9f32-f2801f1b9fd1",
    "content": "Parsed content"
  }
}
